*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
:root{
    --dark-color-g:#2e4d31;
    --dark-color-b:#542913;
    --light-color-g:#419b4a;
--light-color-b:#b88f54;
--white:#d7cec4;

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--dark-color-g);
}
#header{
  width: 100%;
  height: 100vh;
  background-image: url(media/main6.png);
  background-size: cover;
  background-position: center;
  z-index:-1;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 
   
}
/*
 nav .bar{
    position: relative;
    margin: auto;
    display: none;
}
 nav .bar span{
    position: absolute;
    color: #fff;
    font-size: 35px;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
}
@media screen and (max-width: 1250px) {
    nav{
        display: block;
        padding: 0;
    }
    nav img{
        display: inline-block;
        padding: 15px 30px;
    }
    
    nav ul{
        display: flex;
        flex-direction: column;
        background: #fff;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
    nav ul li{
        text-align: center;

    }
    nav ul li a{
        color: var(--dark-color-b);
        font-size: 28px;
        padding: 25px;
        display: block;
    }
    nav .bar{
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }
    nav .bar #times{
        display: none;
    }

    #check:checked ~ nav .bar #times{
        display: block;
    }
    #check:checked ~ nav .bar #bars{
        display: none;
    }
    #check:checked ~ nav ul{
        visibility: visible;
        height: 465px;
    }
}

*/
/*
search box
*/
.search-box{
    display: flex;
    margin: auto ;
    height: 35px;
    line-height: 35px;
}
.search-box input{
    border: none;
    outline: none;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
    background: var(--white);
}
.search-box span{
    color: var(--dark-color-g);
    font-size: 20px;
    background: var(--white);
    height: 100%;
    padding: 8px;
   position: relative;
   cursor: pointer;
   z-index:1;


}
.search-box span::after{ 
    height: 100%;
    width: 0%;
    content: '';
    background: var(--dark-color-g);
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
}
.search-box span:hover{
    color:var(--white) ;
}
.search-box span:hover::after{
width: 100%;
}


.logo{
    width: 150px;
    margin-left: 40px;
    margin-top: 3px;
    padding-right: 80px;
}
nav ul{
    padding-left: 50px;
    padding-right: 50px;

}
nav ul li{
    align-items: center;
    justify-content: space-between;
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
    
}

nav ul li a{
    color: var(--dark-color-b);
    text-decoration: none;
    font-size: 18px;
    position: relative;
    align-items: center;
    justify-content: space-between;

}
.container .act{
    color: var(--dark-color-g);
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:var(--light-color-g);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
width: 100%;
}

.fixed-nav-bar{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 100%;
      height: 80px;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
}
nav.scrolled{
    background: var(--light-color-b);

}
li.scrolled{
    background: var(--light-color-b);
color: #05584c;
}
/*end of nav*/
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: var(--dark-color-b);
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.header-text h1 span{
    color:var(--dark-color-g) ;
}
/* strart about*/
#about{
    padding: 80px 0;
    color:#fff;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
  
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var( --light-color-b);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    color: var(--light-color-b);
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--light-color-g);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
 
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li {
    list-style:none;
    margin: 10px 0;
}
.tab-contents ul li span {
   color: #fff;
font-size: 14px;
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.big-box{
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
    left: 0;
 
  
}
.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    /*box-shadow: 0 30px 60px rgba(0,0,0,0.2);*/
}
.box .percent{
    position: relative;
    width: 120px;
    height:120px;
}
.box .percent svg{
    position: relative;
    width: 120px;
    height: 120px;
}
.box .percent svg circle{
    width: 120px;
    height: 120px;
    fill: none;
    stroke-width:4 ;
    stroke: var(--light-color-b);
    transform: translate(5px,5px) ;
    -webkit-transform: translate(5px,5px) ;
    -moz-transform: translate(5px,5px) ;
    -ms-transform: translate(5px,5px) ;
    -o-transform: translate(5px,5px) ;
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    stroke-linecap: round;
}
.box .percent svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #172718;
}
.box .percent2 svg circle:nth-child(2){
    stroke-dashoffset: calc(220 - (220 * 65) / 100);
    stroke: var(--light-color-b);
}
.box .percent1 svg circle:nth-child(2){
    stroke-dashoffset: calc(220 - (220 * 80) / 100);
    stroke: var(--light-color-b);
}
.box .percent .number{
position: absolute;
top: 0;
left: 0;
width: 125%;
height:125%;
display: flex;
justify-content:center;
align-items: center;

}
.box .percent .number h2{
    font-size: 15px;
}

.box .percent .number h2 span{
font-size: 9px;
}
.box .text{
   
    color: var(--white);
   font-size: 12px;
    letter-spacing: 1px;
    justify-content:center;
align-items: center;
padding-left: 40px;
}
/*services*/
#web-design {
 
}
#services{
    padding: 30px 0;
    background:linear-gradient(var(--dark-color-g), #d7cec4);
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin-top: 50px;
}

.services-list div{
    background: var(--light-color-b);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
cursor: pointer;
    transition: background 0.5s, transform 0.5s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.services-list i{
    color: var(--dark-color-b);
    margin-bottom: 30px;
    font-size: 50px;
}
.services-list h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom:15px;

}
.services-list div a{
    text-decoration: none;
    color: var(--dark-color-b);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
     background: var(--dark-color-g);
     transform:translateY(-15px) ;
     -webkit-transform:translateY(-15px) ;
     -moz-transform:translateY(-15px) ;
     -ms-transform:translateY(-15px) ;
     -o-transform:translateY(-15px) ;
     
}
.services-list div:hover h2{
    color: var(--light-color-g);
}
.services-list div:hover i{
    color: var(--light-color-b);
}
.services-list div:hover a{
    color: var(--light-color-g);
}
.services-list div:hover p{
    color: var(--white);
}
/*projects*/



#projects{

   padding-top: 50px; 
margin-bottom: 50px;
  background-color:#d7cec4;
/*background-image: url(media/proback2.png);*/
}
#projects h1{
  
   color: var(--dark-color-g);
    }
    .active-tab{
        display: flex;
    }

   .swiper{
        height:400px;
width: 50%;
justify-content: center;
text-align: center;

    }
    .swiper-slide {
        overflow: hidden;
    }
    .swiper-slide img{
        width: 100%;
    }
    .swiper .swiper-button-prev, .swiper .swiper-button-next{
        color: var(--dark-color-g);
    }
    .swiper .swiper-pagination-bullet-active{
        background: var(--dark-color-g);
    }
.list img{
   
   /* width:250px;*/
   width: auto;
    height: 260px;
    justify-content: center;
    border-radius: 10px;
    transition: transform 0.5s ;
    -webkit-transition: transform 0.5s ;
    -moz-transition: transform 0.5s ;
    -ms-transition: transform 0.5s ;
    -o-transition: transform 0.5s ;
}
.list{
    display: grid;
    grid-template-columns: repeat(4, minmax(210px,auto));
   /* grid-template-columns: repeat(4, minmax(250px, 1fr));*/
    grid-gap:80px;
    margin-top: 50px;
    
}
.tab-titles2{
    display: flex;
    margin: 20px 0 40px;
    justify-content: center;
    color: var(--dark-color-b);
}
.colo{
    color: var(--dark-color-b);
}
.proj{

}
#contact{
    background-color: var(--dark-color);
}
.work{
  
    background: var(--brli-color);
    overflow: hidden;
    border-radius: 10px ;
   position: relative;

}
.layer{
    width: 100%;
    height: 0;
    background:linear-gradient(#b88e5480,#2e4d31);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition:height 0.5s ;
}

.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}
.layer a{
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--white);
    background-color: var(--dark-color-g);
}
.layer a:hover{
stroke: white;
    font-weight: 600;
    color:var(--light-color-g);
}
.work:hover img{
    transform: scale(1.1)   ;
    -webkit-transform: scale(1.1)   ;
    -moz-transform: scale(1.1)   ;
    -ms-transform: scale(1.1)   ;
    -o-transform: scale(1.1)   ;
}
.work:hover .layer{ 
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: 25%;
    font-weight: 25px;
    /*border: 1px solid #000000;*/
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color:var(--dark-color-g);
    text-align: center;
    background: none;
}
.btn:hover{
   
    color: var(--light-color-g);
    font-weight:28px;
    font-size: 20px;
}

/*contact*/
#contact{
    
    margin-top: 15px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis:60%;
  
}
.contact-left p{
   margin-top: 30px;
}
.social-icon{
    margin-top: 30px;

}
.social-icon a{
     text-decoration: none;
     font-size: 30px;
     margin-right: 15px;
     color: #d5986d;
     display: inline-block;
     transition: transform 0.5s;
     -webkit-transition: transform 0.5s;
     -moz-transition: transform 0.5s;
     -ms-transition: transform 0.5s;
     -o-transition: transform 0.5s;
}
.social-icon a:hover{
    color: #169a6b;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    width: fit-content;
    background: var(--light-color-b);
    color: var(--dark-color-b);

}
.contact-right form{
width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--white);
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius:6px ;
    -webkit-border-radius:6px ;
    -moz-border-radius:6px ;
    -ms-border-radius:6px ;
    -o-border-radius:6px ;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}
.btn2:hover{
    background-color: #169a6b;
    color: #d7cec4;
}
.contact-left p {
    color: var(--white);
  
}
.contact-left p i{
    color:var(--light-color-b);
    margin-right: 10px;
    font-size: 20px;
}
.contact-left a i{
    color:var(--light-color-b);
    transition: background 0.5s, transform 0.5s;
}
.contact-left a i:hover{
    color: #169a6b;
    ttransform:translateY(-25px) ;
    -webkit-transform:translateY(-15px) ;
    -moz-transform:translateY(-15px) ;
    -ms-transform:translateY(-15px) ;
    -o-transform:translateY(-15px) ;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #213823;
    font-weight: 300;
    margin-top: 20px;
    color: var(--white);
    font-size: 12px;
}
/* css for small screen*/
nav .fas{
    display: none;
   
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(media/min6.png);
    }
    .header-text{
        margin-top: 30%;
        font-size: 20px;
    }
    .header-text h1{
    
        font-size:30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
        margin-right: 25px;
    }
    nav ul{
        background: #213823;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height:100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
       
       
}
    nav ul li{
        display: block;
        margin: 25px;
        color: var(--light-color-b);
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left:25px;
        cursor: pointer;
        color: var(--light-color-b);

    }
    nav ul li a{
        color: var(--light-color-b);
    }
    nav ul li a.act{
        color: var(--white);
    }
    .search-box
    {
        width: 40%;
        display: inline-flex;
        text-align: center;
        justify-content: center;
        margin: auto;
        top: 0;
        padding-right: 2px;

    }
    .search-box input{
        width: 90%;
        height: 85%;
        font-size: 15px;
    }
    .search-box span{
      
        font-size: 15px;
        background: var(--white);
        height: 85%;
        padding: 8px;
       position: relative;
       cursor: pointer;
       z-index:1;
    
    
    }
    .logo{
        width: 55px;
        margin-left:20px;
        padding-right: 2px;
        margin-right: 10px;
       
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;

    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .about-col-2 p{
        padding-top: 8px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .services-list h2{
        font-size:25px ;
    }
    .list{
        display: grid;
        grid-template-columns: repeat(2, minmax(200px,auto));
       /* grid-template-columns: repeat(4, minmax(250px, 1fr));*/
        grid-gap:10px;
        margin-top: 50px;
        
    }
    .work{
        width: 140px;
        height: 150px;
    }
    .list img{
   
        width: 140px;;
        height: 150px;
        justify-content: center;
        border-radius: 10px;
        transition: transform 0.5s ;
        -webkit-transition: transform 0.5s ;
        -moz-transition: transform 0.5s ;
        -ms-transition: transform 0.5s ;
        -o-transition: transform 0.5s ;
        
    }
    .btn{
        display: flex;
        margin: 15px auto;
        width: 250px;
        font-weight: 25px;
        /*border: 1px solid #000000;*/
        padding: 14px 14px;
       justify-content: center;
        text-align: center;
        background: none;
        font-size: 15px;
    }
    .btn:hover{
       
        color: var(--light-color-g);
        font-weight:28px;
        font-size: 18px;
    }
    .contact-left ,.contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 9px;
    }
    .swiper{
        height:300px;
width: 80%;

    }
    .swiper .swiper-button-prev, .swiper .swiper-button-next{
    display: none;
    }

    #projects{

        padding-top: 30px; 
        padding-bottom: 30px;
     margin-bottom: 25px;}
}

.reveal{
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition:all 2s ease ;
    -webkit-transition:all 2s ease ;
    -moz-transition:all 2s ease ;
    -ms-transition:all 2s ease ;
    -o-transition:all 2s ease ;
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
  }
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
   
  }